
@font-face {
    font-family: "Quam";
    src: url(/fonts/Quam-Regular.otf);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    background-image: url(/images/background.jpg);
    color: bisque;
}

.main-title {
 font-family: Quam;
 text-align: center;
}