.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: $text_color;

    @include breakpoint-down(desktop) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include breakpoint-down(laptop) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint-down(tablet) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-down(mobile) {
        grid-template-columns: repeat(1, 1fr);
    }

    

    .grid-item {

        &--rating {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2rem;
            height: 2rem;
            margin: 1rem;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid $auxiliary_color;
            border-radius: 50%;
        }

        &--card {
            padding: 1rem;
            border: 2px solid;
            border-radius: 10px;
            cursor: pointer;

            &--name {

                &--company-name {
                    font-size: 1.3rem;
                    margin-bottom: 5px;
                }

                &--symbol {
                    color: grey;
                }
            }

            &--marketcap {
                position: relative;
                margin-top: 0.8rem;
                font-family: futura;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 50%;
                    height: 1px;
                    transform: translateY(-5px);
                    background-color: $auxiliary_color;
                }
            }
        }
    }
}

