body {
    display: grid;
    grid: auto / repeat(5, auto)
    // grid-template-columns: repeat(5, auto);
    // grid-template-rows: repeat(10, 20%);
    ;

    div {
        border-radius: 8px;
    }
}